@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hand On Secure Coding</h1>
    <p>Secure Coding with ASP.NET MVC</p>
    <p>Username : @ViewBag.username</p>

    <ul>Phone:
        @foreach(var phone in ViewBag.phone)
        {
            <li>@phone</li>
        }
    </ul>
</div>